@media screen and (min-width:320px) {
    #backgroundHero {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .marco {
        position: absolute;
        width: 100%;
        height: 100%;
        align-self: center;
        z-index: 0;
    }
    .logo {
        position: absolute;
        width: 80%;
        height: auto;
        margin: 0 20%;
        z-index: 1;
    }
}
@media screen and (min-width: 667px) {
    .marco {
        transform: rotate(90deg);
        width: auto;
        height: 139vh;
    }
    .logo {
        width: 55%;
    }
}
