@media screen and (min-width:320px) {
    #lugarWrapper {
        background-image: url("https://cdn0.bodas.com.mx/vendor/1431/3_2/960/jpeg/whatsapp-image-2023-02-08-at-3-55-17-pm_5_251431-167589478986635.webp");
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (min-width:375px) {
    .title {
        margin: 0 5%;
    }
    #locationImg{
        padding-bottom: 10rem;
    }
    #lugarText {
        align-self: flex-end;
    }
    #lugarTitle {
        align-self: flex-start;
        margin-top: 2.5rem;
    }
}
@media screen and (min-width:1024px) {
    #lugarText {
        margin-top: 3rem;
        font-size: 4rem;
    }
    #lugarTitle {
        margin-top: 4rem;
    }
    #locationImg {
        width: 30rem;
        justify-self: center;
        align-self: flex-end;
    }
}