@media screen and (min-width: 320px) {
    #fechaTitle {
        align-self: flex-end;
        margin-bottom: 3rem;
    }
    #fechaImg {
        align-self: flex-start;
        padding-bottom: 5rem;
    }
    .container {
        width: 100%;
        display: grid;
        align-self: center;
        justify-self: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: (10%, 90%);
        text-align: center;
        grid-area: 3 / 1 / 4 / 2;
        align-self: flex-start;
    }
    .container p {
        grid-area: 1 / 1 / 2 / 5;
        margin-bottom: 2rem;
    }
    .timer {
        font-size: 1.6rem;
    }
    .timer .days {
        grid-area: 2 / 1 / 3 / 2;
    }
    .container span {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 667px) {
    #fechaBackground {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 20% 80%;
    }
    #fechaTitle {
        margin: 4.5rem 0 0 0 ;
        grid-area: 1 / 1 / 2 / 3;
    }
    #fechaImg {
        grid-area: 2 / 1 / 3 / 2;
        padding: 0;
        width: 70%;
        align-self: center;
        justify-self: center;
    }
    .container {
        grid-area: 2 / 2 / 3 / 3;
        align-self: center;
    }
}
@media screen and (min-width:768px) {
    .timer {
        font-size: 1.8rem;
    }
    .container span {
        font-size: 1.8rem;
    }
}
@media screen and (min-width:1024px) {
    #fechaBackground {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #fechaImg {
        grid-area: 1 / 2 / 2 / 3;
    }
    #fechaTitle {
        align-self: center;
    }
    .container {
        grid-area: 2 / 1 / 3 / 4;
    }
    .timer {
        font-size: 4rem;
    }
    .container span {
        font-size: 3.5rem;
    }
}
@media screen and (min-width:1440px) {
    #fechaTitle {
        font-size: 10rem;
        grid-area: 1 / 1 / 2 / 2;
    }
    #fechaImg {
        width: 60%;
    }
    .timer {
        font-size: 4rem;
    }
    .container span {
        font-size: 3rem;
    }
}
@media screen and (min-width:2560px) {
    .timer {
        font-size: 10rem;
    }
    .container span {
        font-size: 8rem;
    }
}