@media screen and (min-width:320px) {
    .evento {
        align-self: center;
        justify-self: center;
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .evento p {
        margin: 0;
    }
    .evento h4 {
        font-size: 3rem;
    }
    .icon {
        width: 8rem;
        height: auto;
    }
    #regaloTitle {
        align-self: flex-end;
    }
    #mesaRegalos {
        align-self: flex-start;
    }
}
@media screen and (min-width:425px) {
    .evento h4 {
        font-size: 3.5rem;
    }
    .icon {
        width: 10rem;
    }
}
@media screen and (min-width: 667px) {
    #backgroundRegalo {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #regaloTitle {
        margin-top: 1.5rem;
        grid-area: 1 / 1 / 2 / 3;
    }
    .icon {
        width: 7rem;
    }
    .evento p {
        font-size: 2rem;
    }
    #mesaRegalos {
        align-self: center;
    }
}
@media screen and (min-width:768px) {
    #regaloTitle {
        align-self: center;
    }
    .evento h4 {
        font-size: 4rem;
    }
    .icon {
        width: 9rem;
    }
    .evento p {
        font-size: 2.5rem;
    }
}
@media screen and (min-width:1024px) {
    .evento h4 {
        font-size: 6rem;
    }
    .icon {
        width: 8rem;
    }
    #sobres p {
        font-size: 3rem;
    }
    #mesaRegalos p {
        font-size: 3rem;
    }
}