@media screen and (min-width:320px) {
    #hashtagWrapper {
        background-image: url("https://cdna.artstation.com/p/assets/images/images/025/445/726/medium/luna-garcia-san-segundo-4214671a-dec0-4981-b180-875f09f00be3.jpg?1585818314");
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hashtag {
        font-size: 2.5rem;
        text-align: center;
        align-self: center;
    }
    .social {
        display: flex;
    }
    .social .icon {
        width: 6rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }
    #hashtagTitle {
        align-self: flex-end;
    }
    #hashtagSocial {
        align-self: flex-start;
    }
}
@media screen and (min-width:425px) {
    .hashtag {
        font-size: 3rem;
    }
}
@media screen and (min-width: 667px) {
    .hashtag {
        font-size: 2.5rem;
    }
    .social .icon {
        width: 4rem;
    }
}
@media screen and (min-width:768px) {
    .hashtag {
        font-size: 4rem;
    }
    .social .icon{
        width: 6rem;
        margin-bottom: 3rem;
    }
}
@media screen and (min-width:1024px) {
    .hashtag {
        font-size: 5rem;
    }
    .social .icon {
        width: 10rem;
    }
}