@font-face {
    font-family: 'Baskerville';
    src: url('./assets/fonts/baskerville-old-face.ttf')
}
@font-face {
    font-family: 'EdwardianScript';
    src: url('./assets/fonts/edwardianscriptitc.ttf')
}